<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand shadows obli" href="/">Iron Chef</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    
  <!-- Nav bar links -->
  <div class="collapse navbar-collapse" id="navbarTop">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link shadows bold active" href="/admin" id="adminView">Admin View</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle shadows bold" href="#" role="button" data-toggle="dropdown"><img class="rounded" src="images/robicon.png"> My Profile</a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/teams">Teams</a>
          <a class="dropdown-item" href="#" id="editProfile">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/users/logout" id="logoutProfile">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<main>
  <!-- Custom Header with customized button -->
  <header class="container text-center bronze obli mt-5">
    <h1 class="shadows">Admin View</h1>
  </header>
  <!-- Table to display team info -->
  <div class="container">
    <table class="table m-3" id="userTable">
      <thead id="teamHead">
        <tr>
          <th class="white">User Name</th>
          <th class="white">Email</th>
        </tr>
      </thead>
      <tbody class="white" id="teamBody">
      </tbody>
    </table>
    <div id="emptyDiv"></div>
  </div>
</main>