<main>
  <div class="container">
    <h1 class="mt-5 obli bronze shadows text-center">{{title}}</h1>
    <form class="row justify-content-center white" id="registerForm">
      <div class="col-md-4">

        <div class="form-group">
          <label for="inputUsername">User Name</label>
          <input type="text" id="inputUsername" class="form-control" name="username" [(ngModel)]="userName" placeholder="User Name" required autofocus autocomplete="username">
        </div>

        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="text" id="inputEmail" class="form-control" name="email" [(ngModel)]="email" placeholder="Email address" required autofocus autocomplete="username email">
        </div>

        <div class="form-group">        
          <label for="inputPassword">Password</label>
          <input type="password" id="inputPassword" class="form-control" name="password" [(ngModel)]="password" placeholder="Password" required autocomplete="current-password">
        </div>

        <div class="form-group">
          <label for="inputEmail">Confirm Password</label>
          <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm Password" required autocomplete="new-password">
          <small id="passMsg"></small>
        </div>
        
        <button class="btn btn-lg btn-success btn-block" type="button" (click)="onRegister()">Register</button>
        <div class="mt-4 alert alert-danger" *ngIf="error">{{errMsg}}</div>
      </div>
    </form>
  </div>
</main>