<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="menu_bar">
  <a class="navbar-brand obli bronze shadows" href="/">Iron Chef</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    
  <!-- Nav bar links -->
  <div class="collapse navbar-collapse" id="navbarTop">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link bold bronze shadows" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bold bronze shadows" href="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>